.event-form {
  display: flex;
  flex-direction: column;
  justify-content: center; // align-items: center;
  align-content: center;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif; // width: 1080px;
  width: 720px; // align-self: flex-start;
}

.event-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-form input {
  border: 1px solid black;
  margin: 5px;
}

.event-form label {
  margin: 5px; // align-self: flex-start;
}

.event-form-header {
  display: flex; // justify-content: center;
  font-size: 30px; // align-items: center;
  width: 720px; // align-self: flex-start;
}

.step-one {
  background-color: #0093D7;
  color: white;
  font-size: 35px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

.event-label-input {
  display: flex;
  flex-direction: column;
}