// Place all the styles related to the api::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-show-wrapper {
  display: flex; // justify-content: center; // align-content: center;
  align-items: center;
  width: 65%;
  flex-direction: column;
}

.event-show {
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-show-banner-detail {
  // width: 50px;
  margin-left: 20px;
  font-size: 18px;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.event-show-main-detail {
  width: 70%;
  align-content: flex-start;
  align-self: flex-start;
  margin-left: 30px;
  margin-top: 10px;
}