.background-banner {
  height: 600px;
  display: flex;
  position: relative;
  top: 0px;
}

.home-message {
  width: 1050px;
  height: 209px;
  display: flex;
  justify-content: center;
  
  align-items: center; 
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 60px; // 
  color: white;
  font-weight: 100px;
  border-radius: 10px;
}

.home-flex {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  // top: -450px;
  text-align: center;
  align-content: center;
  flex-direction: column;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  top: 200px;
}

.temp-events {
  font-size: 30px;
  display: flex;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  justify-content: center;
  position: relative;
  top: -40px;
}

.home-bg-img {
  background-color: #F7F7F9;
}

.events-index {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-auto-rows: minmax(100px, 300px);
  align-items: flex-start;
}

.events-index-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  top: 50px;
  // top: -150px;
}

.date-style {
  margin-top: 5px;
  font-size: 15px; // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-column-gap: 0.5em;
  color: gray;
  display: flex;
  flex-direction: row;
}

.event-description {
  display: grid;
  margin-left: 10px;
}

.event-time {
  margin-left: 10px;
}

.hp-event-title {
  margin-top: 10px;
  font-size: 19px;
  font-weight: 400;
  color: rgb(83, 78, 78);
  display: flex;
  justify-content: space-between;
  margin-right:10px;
  height: 25px;
  overflow: hidden;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  width: 93%;
    // /* Required for text-overflow to do anything */

}

.upcoming-header {
  font-size: 40px;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  margin: 10px;
  margin-bottom: 40px;
  color: rgb(102, 97, 97);
}

.arrow-color {
  display:flex;
  color: white;
  font-size: 70px;
  position: relative;
  top: -20px;
}