.background-banner {
  height: 600px;
  display: flex;
  position: relative;
  top: 0px;
}

.home-message {
  width: 1050px;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center; // position: relative;
  // margin-left: 400px;
  // margin-right: 0;
  background: white;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 70px; // 
  border: 0.5px solid rgb(191, 191, 194); // margin-bottom: 100px;
  color: #f6682F;
  font-weight: 100px;
}

.home-flex {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 100px;
}

.temp-events {
  font-size: 30px;
  display: flex;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  justify-content: center;
  position: relative;
  top: -40px;
}

.home-bg-img {
  background-color: #F7F7F9;
}

.events-index {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  grid-auto-rows: minmax(100px, auto);
  align-items: flex-start;
}

.date-style {
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5em;
  color: gray;
}

.event-description {
  display: grid;
}

.event-time {
  display: flex;
  position: relative;
  left: -40px;
}

.hp-event-title {
  font-size: 22px;
  font-weight: 500;
  color: rgb(83, 78, 78);
}

.events-index-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.upcoming-header {
  font-size: 40px;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  margin: 10px;
  color: black;
}