// Place all the styles related to the api::categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories-index-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // justify-items: center; // justify-content: center;
  align-self: center;
  text-align: center;
  width: 55%;
  grid-gap: 1em;
  color: rgb(240, 233, 233);
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 500;
}

.music {
  background-image: url("https://c1.staticflickr.com/1/883/41883189545_c1a54256b3_b.jpg");
  height: 200px;
  background-size: 700px 200px;
  background-repeat: no-repeat;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-drinks {
  background-image: url("https://c1.staticflickr.com/1/884/41884976405_9f265b9b17_b.jpg");
  background-size: 400px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classes {
  background-image: url("https://c1.staticflickr.com/1/896/40975083690_d5844f1b76_b.jpg");
  background-size: 400px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arts {
  background-image: url("https://c1.staticflickr.com/1/899/42736317402_3e9cb3c8c4_h.jpg");
  height: 200px;
  background-size: 400px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parties {
  background-image: url("https://c1.staticflickr.com/1/895/42068803554_fb6707b1d5_b.jpg");
  background-size: 400px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sport-wellness {
  background-image: url("https://c1.staticflickr.com/1/879/42787295651_91f0565573_b.jpg");
  background-size: 400px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.networking {
  background-image: url("https://c1.staticflickr.com/2/1733/40976242900_2966931ff9_b.jpg");
  height: 200px;
  background-size: 700px 200px;
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories-show-header {
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.home-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.category-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 40px;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}