.nav-bar-main-div {
  display: flex;
  justify-content: space-between;
  height: 61px;
  border-bottom: 1px solid rgb(236, 236, 240);
  backgroud-color: white;
  
}

.nav-bar-right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; // border: 1px solid black;
  // padding-right: 20px;
  // align-content: center;  
  align-items: center;
  font-family: Benton Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  color: #5D6065;
  text-align: center;
  width: minmax(632px, auto);
}

.nav-bar-home {
  border-right: 1px solid rgb(236, 236, 240); // padding-top: 10px;
  // padding-left: 10px;
  color: #f6682F;
  font-size: 22px;
  font-family: Benton Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 130px;
  text-align: center;
  font-weight: bold;
}

.nav-bar-link {
  // border: 5px solid red;
  // padding-right: 20px;
  width: 140px;
  border-left: 1px solid rgb(236, 236, 240);
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center; // width: 130px;
  text-align: center; // border-bottom: 1px solid rgb(188, 188, 194);
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-bar-link-logout {
  // border: 5px solid red;
  // padding-right: 20px;
  width: 90px;
  border-left: 1px solid rgb(236, 236, 240);
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center; // width: 130px;
  text-align: center; // border-bottom: 1px solid rgb(188, 188, 194);
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-bar-link1 {
  // border: 5px solid red;
  // padding-right: 20px;
  width: 180px;
  border-left: 1px solid rgb(236, 236, 240);
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center; // width: 130px;
  text-align: center; // border-bottom: 1px solid rgb(188, 188, 194);
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar-link-create {
  // border: 5px solid red;
  // padding-right: 20px;
  width: 140px;
  border-left: 1px solid rgb(236, 236, 240);
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center; // width: 130px;
  text-align: center; // border-bottom: 1px solid rgb(188, 188, 194);
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(86, 171, 199);
}

.user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px solid rgb(236, 236, 240);
  height: 100%;
}

.user-avatar {
  // display: inline-block;
  display: flex;
  width: 45px;
  height: 45px;
  margin: 0; // justify-content: center;
  // position: relative;
  // top: 5px;
  // align-items: center;
  // position: relative
  // right: 425px;
}