// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.signup-form-div{

    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
    align-items: center;
    height: 800px;
    // border: 1px solid red;
    // color: #909296;

}
.signup-form{
  width: 382px;
  height: 594px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
  
}

.signup-img{
  width: 75px;
}

.sign-title{
    font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-size: 1.95312rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-weight: 200;
    // color: #737476;
    color: #45494e;
}

.signup-message {
      font-family: Benton Sans,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Helvetica Neue,
      Helvetica,
      Tahoma,
      Arial,
      sans-serif;
  font-weight: 200;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  // color: #737476;
  color: #45494e;
}



.signup-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid blue;
  width: 100%;
}

.signup-col input{
  width: 100%;
  border: 1px solid black;
}

.first-last-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
.first-last-name input {
  border: 1px solid black;
}


.signup-button {
  background-color: #FF5900;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 40px;
  margin: 20px;
  // position: absolute;
  // bottom: 100px;
}
.logo {
  font-size: 30px;
  background-color: #FF5900;
  padding: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 5px;
  color: white;
  font-family: 'Coda', cursive;
  font-weight: bold;
  margin-bottom: 30px;
  position: absolute;
  top: 20px;  
}